<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem 
        id="gudang_root" 
        name="UD AGUNG" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="barang" 
        name="ITEM BARANG!" 
        parent="gudang_root" 
        sequence="10"/>



    
</odoo>
